* {
  margin: 0;
}
.row {
  margin-right: 0 !important;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.head-section {
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  border-bottom: 1px solid #f0f1f2;
}
nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 80px;
  position: relative;
  right: 9px;
}

.snap {
  padding: 15px 15px;
  border-radius: 10px;
}
.snap:hover {
  background-color: yellow;
  padding: 15px 17px;
}
.text {
  margin-right: 10px;
  height: 40px;
  width: 190px;
  border-radius: 30px;
  padding-left: 40px;
  background-color: rgba(194, 191, 191, 0.2);
  border: none !important;
  font-size: 12px;
}
.text::placeholder {
  color: rgb(118, 117, 117);
  font-weight: bold;
}
.text:focus {
  border: none;
}
.search-icon {
  position: absolute;
  left: 96px;
  top: 23px;
  font-size: 21px;
}
.icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 26px;
  /* padding-bottom: 15px; */
}
.icons i {
  padding: 10px 30px;
}
.iconhover {
  height: 63px;
}
.iconhover:hover {
  background-color: rgb(240, 239, 239);
  height: 63px;
  border-radius: 10px;
}

.headerIcon {
  width: 421px;
}
.icon-names {
  position: absolute;
  top: 40px;
  padding-left: 15px;
  font-size: 14px;
  padding-top: 3px;
  font-weight: 500;
  color: rgb(39, 38, 38);
}
.icname1 {
  padding-left: 30px;
}
.icname2 {
  padding-left: 23px;
}
.input1 {
  border-radius: 50px;
  padding: 10px;
  background-color: #f0f1f2;
  cursor: pointer;
  margin-top: 20px;
  width: 42px;
}
.input1:hover {
  background-color: #c0c0c0;
}
.input {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 8px 18px;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}
.box p {
  margin-right: 50px;
}

.login-pg {
  height: 600px;
}
.scroll-pg {
  width: 100%;
}
.content {
  margin-top: 200px;
  margin-left: 115px;
  margin-right: 140px;
  position: fixed;
}
.c1 {
  font-size: 25px;
  letter-spacing: 0.2px;
  line-height: 55px;
  font-weight: 600;
}
.c2 {
  font-size: 16px;
  line-height: 20px;
  color: rgb(68, 68, 68);
  margin-bottom: 25px;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.comm {
  margin-top: -5%;
  letter-spacing: 0.8px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(68, 68, 68);
  line-height: 32px;
}
.c3 {
  font-size: 16px;
  color: rgb(68, 68, 68);
  margin-top: 5%;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.c4 input {
  padding: 10px 130px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  margin: 20px 0;
  margin-top: 15px;
  width: 465px;
}
.c5 {
  font-size: 14px;
  color: #0096e5;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  cursor: pointer;
}
.btn-primary {
  width: 465px;
  border-radius: 25px !important;
  margin: 8px;
  padding: 10px !important;
  margin-left: -1px;
}
.btn-primary:hover {
  background-color: #0e6cf9 !important;
}
.footera:hover {
  color: yellow;
}
.c7 {
  font-size: 16px;
  color: rgb(68, 68, 68);
  margin-bottom: 15px;
  line-height: 65px;
}
.microsoft {
  margin-bottom: 15px;
  margin-top: -20px;
}
.c8 {
  font-size: 16px;
  color: rgb(68, 68, 68);
}
.c8 a {
  color: #53575b;
}
.img {
  height: 665px;
  overflow: hidden;
  margin: 20px;
  margin-top: 100px;
}
.imgstyle {
  border-radius: 20px;
  padding-top: 270px;
  background-color: yellow;
  height: 920px;
  width: 100%;
}
.imgstyle1 {
  position: absolute;
  transform: rotate(-3deg);
  right: 225px;
  top: 100px;
  width: 550px;
}
.col-7 {
  border-left: 1px solid #f5f4f4;
}
.col-3 p {
  margin: 0;
  font-size: 16px;
  font-weight: 400 !important;
  color: rgb(0, 0, 0);
}
.bgclr {
  background-color: #f5f4f4;
}
.col-3 {
  padding: 30px !important;
  padding-left: 40px !important;
}
.blank1 {
  height: 115px;
  background-color: rgb(39, 39, 39);
}
.blank1 p {
  color: white;
  padding: 20px;
  padding-left: 40px !important;
  font-size: 14px;
}
.footext {
  display: flex;
  font-size: 18px;
}
.footext p {
  font-size: 16px;
  font-weight: 400;
}
.footer {
  background-color: black;
  height: 55px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  font-size: 16px;
  font-weight: 400;
}
.people {
  color: yellow;
  font-size: 20px;
}
.fa-child {
  font-size: 13px;
  padding-top: 6px;
}
.footer p {
  padding: 10px 20px !important;
  margin-top: 10px;
}
.footer a {
  color: yellow;
  margin-bottom: 6px;
}
